<a href="https://colab.research.google.com/github/PedroMarcusso09/API-IPCA-Banco-Central-do-Brasil/blob/main/API_IPCA_Banco_Central_(Awari).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando bibliotecas

In [13]:
import pandas as pd

# API do Banco Central

In [9]:
url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.10844/dados?formato=json'

In [10]:
df = pd.read_json(url)

In [12]:
df

           data  valor
0    01/01/1992  25.84
1    01/02/1992  22.17
2    01/03/1992  20.74
3    01/04/1992  20.14
4    01/05/1992  26.93
..          ...    ...
359  01/12/2021   0.79
360  01/01/2022   0.39
361  01/02/2022   1.36
362  01/03/2022   0.45
363  01/04/2022   0.66

[364 rows x 2 columns]